
#titleError, #descripError {
    display: none;
    font-size: 0.8em;
  }
  
  #titleError.visible, #descripError.visible {
    display: block;
  }
  
  input.invalid, textarea.invalid {
    border-color: red;
  }
  
  #categoryError {
    display: none;
    color: red;
    font-size: 0.8em;
}

#categoryError.visible {
    display: block;
}