body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9; /* Cambiar el fondo a un tono claro */
    margin: 0;
    padding: 0;
}

.profile-container {
    max-width: 800px; /* Aumentar el ancho del contenedor del perfil */
    margin: 0 auto;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    background-color: #fff; /* Fondo blanco */
    padding: 20px; /* Agregar espaciado alrededor del perfil */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.user-info-left {
    text-align: left;
}

.user-image {
    max-width: 200px; /* Aumentar el tamaño de la imagen de perfil */
    border-radius: 50%;
    cursor: pointer;
}

.user-info-right {
    text-align: left; /* Cambiar a la izquierda */
    margin-left: 20px; /* Añadir margen izquierdo para separar del nombre de usuario */
}

.user-name {
    font-size: 24px;
    margin: 0; /* Eliminar el margen superior para alinear el nombre con la imagen */
}

.edit-button {
    background-color: #0074d9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px; /* Añadir margen izquierdo para separar del nombre de usuario */
}

.post-count {
    font-size: 16px;
    margin: 10px 0;
}

.user-fullname {
    font-size: 16px;
    margin: 10px 0;
}

.user-description {
    font-size: 16px;
    margin: 10px 0;
}

/* Estilos para las tarjetas de publicaciones (ajusta según tus necesidades) */
.post-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.post-card {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    cursor: pointer;
}

.post-image {
    max-width: 100%;
}
