body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9; /* Cambiar el fondo a un tono claro */
    margin: 0;
    padding: 0;
}

.profile-container {
    max-width: 800px; /* Aumentar el ancho del contenedor del perfil */
    margin: 0 auto;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    background-color: #fff; /* Fondo blanco */
    padding: 20px; /* Agregar espaciado alrededor del perfil */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.user-info-left {
    text-align: left;
}

.user-image {
    max-width: 200px; /* Aumentar el tamaño de la imagen de perfil */
    border-radius: 50%;
    cursor: pointer;
}

.user-info-right {
    text-align: center;
}

.user-name {
    font-size: 24px;
    margin: 10px 0;
}

.edit-button {
    background-color: #0074d9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.post-count {
    font-size: 16px;
    margin: 10px 0;
}

.user-fullname {
    font-size: 16px;
    margin: 10px 0;
}

.user-description {
    font-size: 16px;
    margin: 10px 0;
}

/* Estilos para las tarjetas de publicaciones (ajusta según tus necesidades) */
.post-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.post-card {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    cursor: pointer;
}

.post-image {
    max-width: 100%;
}

/* Agrega estos estilos a tu archivo CSS existente o crea uno nuevo */
/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.modal-content {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-image {
    max-width: 100%;
    height: auto;
}

/* Estilos para los botones y acciones del modal */
.modal-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.edit-post-button {
    background-color: #0074d9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.three-dots-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    line-height: 1;
    color: #333;
}

.more-options {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
}

/* Agrega más estilos según sea necesario para comentarios, likes, etc. */
